@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.button-white,
.button-white:hover {
  background-color: #ffffff;
  border: 1px solid #335fff;
  color: #335fff;
  padding: 0.5rem 1rem; /* Adjust padding as needed */
  font-weight: bold; /* Apply font-bold */
  border-radius: 0.375rem; /* Apply rounded corners */
}

.button-white:hover {
  background-color: #335fff;
  color: #ffffff;
}
.button-blue {
  background-color: #335fff;
  border: 1px solid #335fff;
  color: #ffffff;
  padding: 0.5rem 1rem;
  font-weight: bold;
  border-radius: 0.375rem;
}
.sidebar-Button-blue {
  background-color: #0E2433;
  border: 1px solid #0E2433;
  border-radius: 0.375rem;
}
.sidebar-subtitle{
  color: #335fff;
}
.button-excel,
.button-excel:hover {
  background-color: #ffffff; /* White background */
  border: 1px solid #1f8a70; /* Excel green border */
  color: #1f8a70; /* Excel green text color */
  padding: 0.5rem 1rem; /* Adjust padding as needed */
  font-weight: bold; /* Apply font-bold */
  border-radius: 0.375rem; /* Apply rounded corners */
}

.button-excel:hover {
  background-color: #e0f7f3; /* Light green background on hover */
  color: #134e44; /* Darker text color on hover */
  border-color: #134e44; /* Darker border color on hover */
}
.button-red,
.button-red:hover {
  background-color: #ffffff; /* Red color */
  border: 1px solid #ff4d4f; /* Red border */
  color: #ff4d4f; /* White text */
  padding: 0.5rem 1rem; /* Adjust padding as needed */
  font-weight: bold; /* Apply font-bold */
  border-radius: 0.375rem; /* Apply rounded corners */
}

.button-red:hover {
  background-color: #ff3333; 
  color: #ffffff;/* Darker red on hover */
}

.button-red-removed {
  background-color: #ffffff; /* Red color */
  border: 1px solid #ff4d4f; /* Red border */
  color: #ff4d4f; /* White text */
  padding: 0.5rem 1rem; /* Adjust padding as needed */
  font-weight: bold; /* Apply font-bold */
  border-radius: 0.375rem; /* Apply rounded corners */
}
.autosuggest-container {
  position: relative;
}

/* Style for the input field */
.autosuggest-input {
  width: 100%;
  padding: 8px;
  border: 1px solid #3f3f3f;
  border-radius: 6px;
  
}

/* Style for the suggestions container */
.autosuggest-suggestions-container {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  max-height: 200px;
  overflow-y: auto;

  background-color: #fff;
}

/* Style for individual suggestion items */
.autosuggest-suggestion {
  padding: 8px;
  cursor: pointer;
}

/* Style for the selected suggestion item */
.autosuggest-suggestion--selected {
  background-color: #f0f0f0;
}
.round-container {
  margin-bottom: 20px;
}

.round-title {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}

.matches-list {
  list-style: none;
  padding: 0;
}

.match-card {

  border-radius: 5px;
  margin-bottom: 10px;
  padding: 10px;

}

.match-info {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  align-items: center;
}

.teams-container {
  display: flex;
  justify-content:space-evenly;
  margin-bottom: 10px;
}

.team {
  width: 45%;
}

.match-level {
  font-size: 16px;
  font-weight: bold;
}

.match-confirmation {
  color: green;
}
/* styles.css or your CSS file */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black background */
  display: flex;
  justify-content: center;
  align-items: flex-start;
  z-index: 1000; /* Ensure the overlay is above other content */
}

.modal-content {
  background-color: #fff; /* White background for the modal */
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  z-index: 1100; /* Ensure the modal is above the overlay */
}
.resource-template-content {
  position: relative;
  padding-left: 0px;
  text-align: left;
  flex-direction: row;
  flex: 1;
}

.resource-avatar {

}

.resource-name {
  font-size: 20px;
}
.md-col-tick-border.mbsc-schedule-all-day-item,
.md-col-tick-border.mbsc-schedule-column,
.md-col-tick-border.mbsc-schedule-resource.mbsc-schedule-col-width {

  width: 150px;
}
.md-switching-view-cont .mbsc-segmented {
  max-width: 350px;
  margin: 0 auto;
}

.md-switching-view-cont .mbsc-calendar-grid-item {
  height: 490px;
  box-sizing: border-box;
}

.cal-header-picker {
  flex: 1 0 auto;
}

.cal-header-nav {
  width: 200px;
}

/* material header order */

.mbsc-material.cal-header-prev {
  order: 1;
}

.mbsc-material.cal-header-next {
  order: 2;
}

.mbsc-material.cal-header-nav {
  order: 3;
}

.mbsc-material .cal-header-picker {
  order: 4;
}

.mbsc-material .cal-header-today {
  order: 5;
}

/* windows header order */

.mbsc-windows.cal-header-nav {
  order: 1;
}

.mbsc-windows.cal-header-prev {
  order: 2;
}

.mbsc-windows.cal-header-next {
  order: 3;
}

.mbsc-windows .cal-header-picker {
  order: 4;
}

.mbsc-windows .cal-header-today {
  order: 5;
}
.md-tooltip .mbsc-popup-content {
  padding: 0;
}

.md-tooltip {
  font-size: 15px;
  font-weight: 600;
}

.md-tooltip-header {
  padding: 12px 16px;
  color: #eee;
}

.md-tooltip-info {
  padding: 16px 16px 60px 16px;
  position: relative;
  line-height: 32px;
}

.md-tooltip-time,
.md-tooltip-status-button {
  float: right;
}

.md-tooltip-title {
  margin-bottom: 15px;
}

.md-tooltip-text {
  font-weight: 300;
}

.md-tooltip-info .mbsc-button {
  font-size: 14px;
  margin: 0;
}

.md-tooltip-info .mbsc-button.mbsc-material {
  font-size: 12px;
}

.md-tooltip-view-button {
  position: absolute;
  bottom: 16px;
  left: 16px;
}

.md-tooltip-delete-button {
  position: absolute;
  bottom: 16px;
  right: 16px;
}

